---
import '../styles/main.css'
import TheHeader from '../components/TheHeader.astro'
import TheBio from '../components/TheBio.astro'
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brian Zelip</title>
    <meta name="description" content="Brian Zelip's home page." />
    <meta name="author" content="Brian Zelip" />
  </head>
  <body class="bg-dusty-blue px3">
    <div>
      <TheHeader></TheHeader>
      <TheBio></TheBio>
    </div>
  </body>
</html>
