---
import { Markdown } from 'astro/components'
import bio from '../content/bio.md?raw'
---
<main class="sm-mt3 md-mt4 sm-mb4 narrow-container white">
  <div class="flex flex-column">
    <div class="h2 p1 m0 fw-200">
      <Markdown>
        { bio }
      </Markdown>
    </div>
  </div>
</main>
