---
import IconEnvelope from './icons/envelope.astro';
import IconGitHub from './icons/github.astro';
import IconTwitter from './icons/twitter.astro';
import IconLinkedin from './icons/linkedin.astro';
---
<header class="sm-mt4 md-mt5 narrow-container">
  <div class="flex flex-column align-center sm-flex-row sm-justify-center py2 sm-py0">
    <img
      alt="Brian Zelip"
      class="circle mb1 sm-mb0 sm-mr2 w-200px md-250px"
      src="./bz-linden.jpg"
    >
    <div class="px1 center sm-left-align">
      <h1 class="m0 h0 lh-1p2 white">Brian Zelip</h1>
      <nav class="flex flex-wrap justify-around sm-justify-between mt1 sm-mt2">
        <a
          class="h2 white sm-px0 sm-m0 green-underline text-decoration-none lh-1"
          href="mailto:bzelip@protonmail.com"
          title="Email Brian"
        >
          <IconEnvelope></IconEnvelope>
          <span class="none sm-block">Email</span>
        </a>
        <a
          class="h2 white sm-px0 sm-m0 green-underline text-decoration-none lh-1"
          href="https://github.com/brianzelip"
          title="Go to Brian's GitHub profile"
        >
          <IconGitHub></IconGitHub>
          <span class="none sm-block">GitHub</span>
        </a>
        <a
          class="h2 white sm-px0 sm-m0 green-underline text-decoration-none lh-1"
          href="https://twitter.com/bzelip"
          title="Go to Brian's Twitter profile"
        >
          <IconTwitter></IconTwitter>
          <span class="none sm-block">Twitter</span>
        </a>
        <a
          class="h2 white sm-px0 sm-m0 green-underline text-decoration-none lh-1"
          href="https://www.linkedin.com/in/zelip"
          title="Go to Brian's Linkedin profile"
        >
          <IconLinkedin></IconLinkedin>
          <span class="none sm-block">LinkedIn</span>
        </a>
      </nav>
    </div>
  </div>
</header>
