body,
.h0,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Athelas, Georgia, serif;
}
.serif {
  font-family: Athelas, Georgia, serif;
}
.vh100 {
  min-height: 100vh;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
@media (min-width: 40em) {
  .sm-align-center {
    align-items: center;
  }
  .sm-flex-row {
    flex-direction: row;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-between {
    justify-content: space-between;
  }
}

.dusty-blue {
  color: #34495e;
}
.bg-dusty-blue {
  background-color: #34495e;
}
.h0 {
  font-size: 3rem;
}

.w-200px {
  width: 200px;
}
.mx2 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.none {
  display: none;
}
.pt2 {
  padding-top: 1rem;
}
@media (min-width: 40em) {
  .sm-pt0 {
    padding-top: 0;
  }
  .sm-block {
    display: block;
  }
  .sm-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sm-px0 {
    padding-right: 0;
    padding-left: 0;
  }
  .sm-mb0 {
    margin-bottom: 0;
  }
  .sm-mb4 {
    margin-bottom: 4rem;
  }
  .sm-m0 {
    margin: 0;
  }
  .sm-mt8 {
    margin-top: 8rem;
  }
  .sm-mt4 {
    margin-top: 4rem;
  }
  .sm-mt3 {
    margin-top: 2rem;
  }
  .sm-mt3r {
    margin-top: 3rem;
  }
  .sm-mt2 {
    margin-top: 1rem 3rem;
  }
  .sm-mr2 {
    margin-right: 1rem;
  }
  .sm-mx2 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .sm-200px {
    width: 200px;
  }
  .h0 {
    font-size: 4.75rem;
  }
  .sm-left-align {
    text-align: left;
  }
}
@media (min-width: 52em) {
  .md-mb5 {
    margin-bottom: 5rem;
  }
  .md-mt4 {
    margin-top: 4rem;
  }
  .md-mt5 {
    margin-top: 5rem;
  }
  .md-mt6 {
    margin-top: 6rem;
  }
  .md-mt8 {
    margin-top: 8rem;
  }
  .md-250px {
    width: 250px;
  }
  .h0 {
    font-size: 5rem;
  }
}
.mt3r {
  margin-top: 3rem;
}
/*.btn:hover { text-decoration: underline; }*/
.btn:hover {
  box-shadow: 0 2px #f1c40f;
}
.green-underline:hover {
  box-shadow: 0 2px #1dc355;
}
.narrow-container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #1dc355;
}
.lh-1 {
  line-height: 1;
}
.lh-1p2 {
  line-height: 1.2;
}
.lh-2 {
  line-height: 2;
}
.text-decoration-none:hover {
  text-decoration: none;
}
.fw-200 {
  font-weight: 200;
}
